*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: white;
  padding: 0;
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: blue;
}
nav > .logo, .thelink{
  margin: 15px;
}
nav > .logo > h3{
  color: black;
  font-size: 30px;
}
nav >.thelink >ul >li{
  display: inline-block;
  padding: 10px;
}
#section-header{
  background-image: url("./assets/img/BGV.jpg");
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section-header > .header{
  text-align: center;
}
#section-header > .header > h3{
  font-size: 50px;
}
#section-header > .header > h3, p{
  color: black;
}
#sectboutme >.boutme{
  display: flex;
  gap: 20px;
}
.leftside, .rightside{
   width: 50%; 

}
.rightside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
  gap: 36px;
  font-size: 25px;
}

#sectboutme >.boutme{
  margin-top: 50px;
  margin-bottom: 50px;
}
#sectboutme >.boutme >.rightside{
  padding-right: 30px;
}

img{
  max-width: 100%; 
}
.header >*{
  color: white!important;
}
.btn{
  border: 0;
  padding: 20px 35px;
  border-radius: 10px;
  font-size: 20px;
  background-color: cornflowerblue;
  color: white;
  /* animation: btnAnimation 1s ease-in infinite; */
  transition: transform 200ms ease-in-out;
}
.btn:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.btn-container{
  margin-left: auto;
  margin-right: auto;
}
.headerp{
  font-size: 18px;
  font-weight: bold;
}
@keyframes btnAnimation {
  0%{
    background-color: tomato;
    transform: translateX(-1000px);
  }
  100%{
    background-color: indigo;
    transform: translateX(1000px);
  }
}